*,
*:before,
*::after {
  box-sizing: border-box;
}

*,
body,
button,
input,
select,
textarea,
canvas {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

/** Reset */
html,
body,
nav,
ul,
h1,
h2,
h3,
h4,
a,
canvas {
  margin: 0;
  padding: 0;
  color: var(--text-colour);
}

body,
input,
button,
textarea {
  font-family: Arial, sans-serif;
}

html,
body {
  background: #ffffff;
}

body {
  height: 100vh;
  overflow: hidden;
}
